*{
    padding: 0;
    margin: 0;
}

 body{
     background-color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 header{
    text-align: center;
    font-size: 18px;
}

header nav{
    margin: 5% 36%;
}
header ul{
    display: flex;    
}

header ul li{
    list-style-type: none;
}
header ul li a{
    text-decoration: none;
    background: white;
    color: black;
    font-weight: bold;
    margin-right:10px;
    padding: 10px;
}

header ul li a:hover{
    background: grey;
    color: white;
}

header ul li a:active{
    background: darkgrey
}


 .alert{
     background: black;
     padding: 10px;
     width: 100%;
 }

 .error{
    background: black;
    color: red;
    padding: 8px;
    display: block;   
}

.nameSide{
    margin-bottom:10px;
}

.successMsg{
    background: darkgreen;
    margin:350px auto;
    width: 300px;
    color: white;
    padding: 20px;
    font-size: 20px;
}

 /*Logo for all pages*/
.site-logo {
    display: block;
    margin: 20px;
    width: 200px;
    height: 60px;

}

.first_header{
    font-size: 50px;
    font-family:rockwell;
    display: inline-block;
    color: black;
    text-align: center;
}

.subParent{
    display: block;
    width: 500px;
    padding: 30px;
    margin: 200px auto;
    background: inherit;
}



/*Style for the login an password revoery page*/
.parent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: black;
    border-radius: 10px;
}

.parent .header{
    text-align: center;
    color: white;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid silver;
}

.parent form{
    padding: 0 40px;
    box-sizing: border-box;
}

form .txt_field{
    position: relative;
    margin: 40px 0 0 0;
}

.txt_field input{
    width: 100%;
    border-radius: .5rem;
    padding: 12px 10px;
    font-size: 20px;
    border:2px solid grey;
    color: black;
    outline: none;
}

.txt_field input:focus{
    transition: border-color ease;
    border-color: darkgreen;
}

.pass{
    margin: 5px 0 20px 5px;
    color: lightgrey;
    cursor: pointer;
}

.pass .sign{
    color: darkslategray;
    text-decoration: none;
}

.pass .sign:hover{
    color: darkgreen;
    text-decoration: underline;
}

input[type ="submit"]{
    width: 100%;
    height: 50px;
    border: 2px solid darkgreen;
    background: black;
    color: darkgreen;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    margin-left: 0;
}

input[type = "submit"]:hover{
    border-color: white;
    transition: .5s;
    background: darkgreen;
    color: white;
}

.register-link{
    margin: 30px 0;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    color: grey;
}

.register-link .sign{
    color: darkslategray;
    text-decoration: none;
}

.register-link .sign:hover{
    color: darkgreen;
    text-decoration: underline;
}


/*Registration Page Style*/

.content-container{
    background: black;
    padding: 10px;
    border-radius: .6rem;
    width: 500px;
    color: white;
    top: 15%;
    left: 35%;
    position: absolute;
    box-sizing: border-box;
}

.content-container .input-container{
    position: relative;
    width: 340px;
    margin: 25px auto ;
    border: none;
}

::placeholder{
    font-size: 25px;
    padding: 10px;
    color: grey;
}
.pageHeader{
    border-bottom: 2px solid grey;
    color: white;
    font-size: 45px;
    text-align: center;
}

.input-container input{
    width: 100%;
    height: 25px;
    font-size: 16px;
    border-radius: .5rem;
    padding:5px;
    border: 3px solid white;
    color: black;
    outline: none;
}
.input-container input:focus{
    border-color: darkgreen;
    transition: border-color .5s ease;
}

.radiobtn-container{
    display: inline-block;
    width: 480px;
    margin: 10px auto;
}

.radioBtn{
    width: 190px;
    float: left;
    color: white;
    margin: 10px 0 10px 50px;
}

.login-link{
    margin: 20px 0 20px 20px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    color: white;
}

.login-link .enter{
    color: grey;
    text-decoration: none;
}

.login-link .enter:hover{
    color: lightgrey;
    text-decoration: underline;
}

/*Dashboard styling*/
