*{
    margin: 0;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
}

.site-logo{
    display: inline-block;
    margin: 20px;
    width: 200px;
    height: 70px;
}

.parent{
    display: flex;
}
.header{
    font-size: 40px;
    color: red;
    font-weight: bolder;
    margin: auto;
    text-align: center;
    width: fit-content;
}

.exit{
    float: right;
    background: whitesmoke;
    color: red;
    font-size: 18px;
    padding: 6px;
    text-decoration: none;
    font-weight: bold;
    border: none;
    margin: 30px 20px 40px 0;
}

.exit:hover{
    background: red;
    color: white; 
}

.upload_form{
    display: block;
    background: whitesmoke;
    padding: 20px 60px;
    text-align: center;
    font-size: 22px;
    color: white;
}

.myselected{
    width: 300px;
    display: block;
    background-color: white;
    margin: 10px auto;
    height: 50px;
}

form{
    width: 400px;
    margin: 40px auto;
}
input[type="text"]{
    width: 300px;
    display: block;
    margin: 15px auto;
    border: 2px solid grey;
    border-radius: .5rem;
    height: 40px;
    font-size: 18px;
}

textarea{
    margin: 20px 0;
    font-size: 15px;
}

::placeholder{
    color: grey;
    padding: 10px;
    font-size: 18px;
}

input[type="submit"]{
    display: block;
    margin:20px auto;
    padding: 15px;
    background: red;
    color: white;
    border-radius:10px;
    font-size: 18px;
}

input[type="submit"]:hover{
    color: red;
    background: whitesmoke;
}
/*Dashboard styling*/
.dummy{
    display: block;
    width: 150px;
    height: 150px;
    margin: 10px auto;
    border-radius: 50%;

}

.main_header{
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav{
    display: flex;
    color: black;
    margin-left:20%;
    margin-bottom: 40px;
    width: fit-content;
    padding: 10px;
}

.nav span{
    font-size: 30px;
    font-weight: bold;
    margin-right: 10px;
}

.nav div{
    margin-left: 20px;
    margin-top: 7px;
    font-size: 20px;
}

.nav div a{
    color: red;
    background: whitesmoke;
    border: none;
    border-radius: 1rem;
    text-decoration: none;
    padding: 11px;
    margin: 7px;
}

.nav div a:hover{
    color: white;
    background: red;    
}

main{
    display: flex;
    justify-content: center;
}

main div{
    width: 350px;
    height: 350px;
    background: whitesmoke;
    border:none;
    border-radius: 1rem;
    margin-right: 10px;
}