*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    padding: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
}
nav{
    display:inline-block;   
    width: 250px;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 5px 0 5px rgba(0, 0, 0, .1);
    background-color: whitesmoke;
    /*z-index: 100;*/
}

.menu{
    display: inherit;
    width: 50px;
    height: 50px;
}

nav #services-list{
    padding: 10px;
    list-style: none;
    letter-spacing: 1px;
}

nav #services-list li{
    padding: 12px;
    cursor: pointer;
    font-size: 17px;
}

nav #services-list a{
    color: black;
    font-size: 17px;
    text-decoration: none;
}

nav #services-list li:hover,
nav #services-list li a:hover{
    color: white;
    background-color: red;
}
.site-logo{
    display: block;
    margin:0 auto;
    position: fixed;
    top: 10px;
    left: 44%;
    width: 200px;
    height: 70px;
}


.parent{
    display: flex;
}
.header{
    font-size: 30px;
    position: relative;
    color: red;
    font-weight: bolder;
    left: 130px;
    margin: 0 auto;
    margin-top: 100px;
}

.exit{
    float: right;
    background: whitesmoke;
    color: red;
    font-size: 18px;
    padding: 6px;
    text-decoration: none;
    font-weight: bold;
    border: none;
    margin: 30px 20px 40px 0;
}

.exit:hover{
    background: red;
    color: white; 
}

.upload_form{
    display: block;
    
    padding: 20px 60px;
    text-align: center;
    font-size: 22px;
    box-shadow:10px 10px 10px 0  rgba(0, 0, 0, 0.2);
}

.myselected{
    width: 300px;
    display: block;
    margin: 15px auto;
    padding: 10px;
}

form{
    width: 400px;
    margin: 40px auto;
}

input{
    caret-color: green;
}
input[type="text"]{
    width: 300px;
    caret-color: green;
    display: block;
    margin: 15px auto;
    border: 2px solid grey;
    border-radius: .5rem;
    height: 40px;
    font-size: 18px;
}

textarea{
    margin: 20px 0;
    font-size: 15px;
}

::placeholder{
    color: grey;
    padding: 10px;
    margin-left: 12px;
    font-size: 18px;
}

input[type="submit"]{
    display: block;
    margin:20px auto;
    padding: 15px;
    background: red;
    color: white;
    border-radius:10px;
    font-size: 18px;
}

input[type="submit"]:hover{
    color: red;
    background: whitesmoke;
}

.upload-success{
    font-size: 17px;
    color: green;
}


/*Dashboard styling*/
.dummy{
    display: block;
    width: 180px;
    height: 180px;
    margin: 80px 0 20px 210px;
    border-radius: 50%;

}

.main_header{
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.quicklist{
    display: flex;
    color: black;
    padding: 10px;
}


.quicklist div{
    margin: 7px 21px;
    font-size: 18px;
}

.quicklist div a{
    color: red;
    background: whitesmoke;
    border: none;
    border-radius: 1rem;
    text-decoration: none;
    padding: 11px;
    margin: 7px;
}

.quicklist div a:hover{
    color: white;
    background: red;    
}

main{
    margin-left: 15%;
    margin-top: 20px;
    position: relative ;
    display: inline-block;
}

section{
    padding: 10px;
    width: fit-content;
    margin: auto;
    display: flex;
    position: relative;
    top: 20px;
}

section .row1{
    background-color: white;
    width: 200px;
    height: 200px;
    margin: 20px;
    border: 2px solid red       ;
    display: flex;
}